body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000000;
}

header {
    background: #ffee00;
    color: rgba(0, 0, 0, 0);
    padding: 10px 0;
    position: sticky;
    z-index: 2;
    top: 0px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: -10px;
    padding: 0 20px;
}

.menu {
    background-color: #e9c600;
    justify-content: space-around;

}

header .logo {
    font-size: 24px;
    font-weight: bold;
    justify-content: right;
}

header nav ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.nav1 {
    display: flex;
    right: 100px;

}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: relative;
}

.section2 {
    padding: 60px;
    display: flex;

}

.div1 {
    padding: 40px;
    font-size: 35px;
}

.h1 {
    font-size: 65px;
}

.btn-more {
    background: #e9c600;
    height: 35px;
    width: 120px;
    border: transparent;
    font-weight: bold;

}

.div2 {
    display: flex;
    position: absolute;
    z-index: 2;
    justify-content: center;
    gap: 10%;
    align-items: center;
    margin: 0 7.5% 0 7.5%;
    width: 85%;
    background-color: rgb(230, 230, 218);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 400px;
    border: none;


}

.btn-2 {
    display: flex;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
}

.div3 {
    width: 50%;
    font-size: 20px;
}

.h2h {
    font-size: 50px;
    height: 80px;
    color: #e9c600;
}

.div4 {
    display: flex;
    gap: 10%;
    height: 250px;
}

.section3 {
    background-color: #F5CB00;
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    height: 150vh;
    width: 100%;
}

.div5 {
    margin-top: 0px;
    margin-left: 200px;
    width: 52%;
}

.h1titulo {
    width: 100%;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.textosec3 {
    width: 22.5%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.btn-3 {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;

    font-size: 17px;
}

.div6 {
    display: flex;
    width: 83%;
    height: 600px;

}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7.5% 0 7.5%;
    margin-top: 100px;
    width: 90%;
    background-color: rgb(238, 238, 234);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 800px;
    border: none;
}

.div7 {
    display: flex;
    margin-top: -100px;
    margin-left: 200px;
    width: 52%;
    flex-direction: column;
}

.h2happi {
    color: #e9c600;
    width: 100%;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif
}

.textosec4 {
    display: flex;
    text-align: end;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: left;
}

.div9 {
    display: flex;
    height: 0px;
    width: 0px;
}

.div10 {
    display: flex;
    margin-top: 550px;
}

.imgdiv10 {
    margin-right: 0px;
}

.section5 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    height: 850px;
}

.btn-4 {
    margin-top: 20px;
    background-color: #e9c600;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 40px;
    font-size: 17px;
}

.h1about {
    color: #F5CB00;
    margin-top: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.p-text {
    color: white;
    text-align: center;
    width: 35%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.section5 img {
    height: 50vh;
    width: 80vh;
}

.section-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 800px;
}

.div11 {
    padding: 30vh;
    width: auto;
}


.btn-5 {
    margin-top: 20px;
    background-color: #e9c600;
    color: rgb(0, 0, 0);
    width: 175px;
    height: 40px;
    font-size: 20px;
}

.p-text2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 81%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.h2our {
    font-size: 50px;
}

.section7 {
    background-color: #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 850px;
}

.div13 {
    width: 30%;
}

.h2try {

    font-size: 70px;
}

.btn-6 {
    margin-top: 20px;
    background-color: #e9c600;
    color: rgb(0, 0, 0);
    width: 175px;
    height: 40px;
    font-size: 20px
}

.p-text3 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}

.section8 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    gap: 60px;
}

.div15 {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 650px;
    margin: 0;
}

.btn-7 {
    margin-top: 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    width: 175px;
    height: 40px;
    border: 1px solid black;
    font-size: 20px
}

.btn-8 {
    margin-top: 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    width: 175px;
    height: 40px;
    font-size: 20px
}



.div15 form {
    width: 500px;
    background-color: black;
}

.section-form {
    display: flex;
    flex-direction: column;
}

.nombre-apellido {
    display: flex;
    justify-content: space-between;
}

.nombre-apellido div {
    width: 48%;
}

.div16 {
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.h2subs {
    color: #F5CB00;
    font-size: 50px;
}

.p-text4 {
    font-size: 18px;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section9 {
    background-color: #F5CB00;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
}

.h2title9 {
    font-size: 35px;
}

.p-text5 {
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.copy {
    background-color: #000000;
}

footer {
    background-color: black;
    color: #F5CB00;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-logo {
    margin-left: 50px;
    margin-top: 80px;

}


.footer-2 {
    display: flex;
    gap: 30px;
    margin-top: 100px;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 100px;
}

hr {
    margin-left: 50px;
    margin-right: 50px;

}

.redes {
    max-height: 5vh;
    border-radius: 100%;
    margin-left: 2vh;
    background-color: #e9c600;
}

.imgfoot {
    display: flex;
    background-color: #000000;
    padding-right: 5vh;
    justify-content: flex-end;
}




@media (max-width: 480px) {
    
    .section2 {
        padding: 60px;
        display: flex;
        flex-direction: column;
    }

    .section2 img {
        max-width: 100%;
    }

    .div1 {
        padding: 40px;
        font-size: 24px;
    }

    .h2h {
        font-size: 40px;
        height: 80px;
        color: #e9c600;
    }

    .div2 {
        display: flex;
        position: absolute;
        z-index: 2;
        justify-content: center;
        gap: 10%;
        align-items: center;
        margin: 0 7.5% 0 7.5%;
        background-color: rgb(230, 230, 218);
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
        width: 80%;
        height: 436px;
        flex-direction: column;
        border: none;
    }

    .div3 {
        width: 93%;
        font-size: 14px;
        margin-top: -4vh;
    }

    .div4 {
        display: flex;
        gap: 3%;
        height: 172px;
        width: 30vh;
        margin-top: -4vh;
    }

    .div4 img {
        max-width: 14vh;
    }

    .div5 {
        margin-top: 0px;
        margin-left: 40px;
        width: 52%;
    }

    .section3 {
        background-color: #F5CB00;
        display: flex;
        margin-top: 150px;
        align-items: center;
        justify-content: center;
        height: 150vh;
        width: 100%;
        flex-direction: column;
    }

    .h1titulo {
        width: 53%;
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 118%;
    }

    .textosec3 {
        width: 100.5%;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .div6 img {
        width: 100%;
        height: 65%;
        margin-top: 10%;
    }

    .section4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 7.5% 0 7.5%;
        margin-top: 100px;
        background-color: rgb(238, 238, 234);
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
        width: 91%;
        height: 815px;
        border: none;
        flex-direction: column;
    }

    .h2happi {
        color: #e9c600;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 62%;
    }

    .textosec4 {
        display: flex;
        text-align: end;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }

    .div8 img {
        width: 79%;
        height: 37%;
        margin-top: 188%;
    }

    .section5 {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 120px;
        height: 850px;
    }

    .section5 img {
        height: 50vh;
        width: 54vh;
    }

    .div11 img {
        width: 49vh;
        height: 43vh;
    }

    .h2our {
        font-size: 26px;
    }

    .div11 {
        padding: 0vh;
        width: 79%;
    }

    .div12 {
        width: 30%;
        height: 48%;
    }

    .p-text2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        width: 141%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .btn-5 {
        margin-top: 10px;
        background-color: #e9c600;
        color: rgb(0, 0, 0);
        width: 107px;
        height: 32px;
        font-size: 17px;
    }

    .section-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        height: 726px;
        flex-direction: column;
    }

    .div13 {
        width: 1%;
        height: 673px;
    }

    .div13 img {
        width: 67%;
    }

    .div14 img {
        width: 42vh;
        height: 57vh;
    }

    .h2try {
        font-size: 21px;
        width: 108px;
        height: 80px;
    }

    .p-text3 {
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: -6px;
        width: 0%;
    }

    .btn-6 {
        margin-top: 11px;
        background-color: #e9c600;
        color: rgb(0, 0, 0);
        width: 75px;
        height: 36px;
        font-size: 14px;
    }

    .section7 {
        background-color: #E6E6E6;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        height: 850px;
    }

    .section8 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 779px;
        gap: 27px;
        width: 453px;
    }

    .div15 {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 285px;
        margin: 0;
    }

    .div16 {
        width: -1%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .p-text4 {
        font-size: 13px;
        width: 86%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .h2subs {
        color: #F5CB00;
        font-size: 21px;
    }

    .div15 form {
        width: 346px;
        background-color: black;
    }

    .btn-8 {
        margin-top: -3px;
        background-color: #000000;
        color: rgb(255, 255, 255);
        width: 124px;
        height: 26px;
        font-size: 18px;
    }

    .div15 form {
        width: 270px;
        background-color: black;
    }

    .section9 {
        background-color: #F5CB00;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 786px;
    }

    .h2title9 {
        font-size: 27px;
    }

    .p-text5 {
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 34px;
    }

    .btn-7 {
        margin-top: 20px;
        background-color: #000000;
        color: rgb(255, 255, 255);
        width: 175px;
        height: 40px;
        border: 1px solid black;
        font-size: 20px;
    }

    .section9 img {
        width: 55vh;
        height: 55vh;
    }
}